@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-prev:before,
.slick-next:before {
  color: #029f66 !important;
}  

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.slider-container {
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 33.33%; /* Mostrar 3 elementos por fila */
}

.mapa {
  width: 400px;
  height: 423px;
  z-index: 0;
}

.custom-popup .leaflet-popup-content-wrapper {
  width: 150px; /* Ajusta el tamaño del popup según sea necesario */
  padding: 0; /* Elimina el padding */
  margin: 0; /* Elimina el margen */
  border-top-left-radius: 10px; /* Aplica bordes redondeados superiores al popup */
  border-top-right-radius: 10px; /* Aplica bordes redondeados superiores al popup */
}

.custom-popup .leaflet-popup-content {
  line-height: 1;
  margin: 0; 
  padding: 0; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  overflow: hidden;
}

.custom-popup img {
  width: 100%; 
  height: auto;
  object-fit: cover; /* Hace que la imagen rellene el popup sin distorsionarse */
  display: block; /* Evita el comportamiento inline por defecto de las imágenes */
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  margin: 0; 
  padding: 0; 
}

.custom-popup .leaflet-popup-content div {
  margin-bottom: 2px; /* Ajusta el margen inferior entre los elementos de texto */
}

.custom-popup .leaflet-popup-content strong {
  font-size: 12px; /* Tamaño del texto fuerte */
  margin-bottom: 0px; /* Margen inferior para el texto fuerte */
  text-align: left;
  color: black;
}

.custom-popup .leaflet-popup-content strong:hover {
  color: blue;
}

.custom-popup .leaflet-popup-content p {
  font-size: 10px; /* Tamaño del texto del párrafo */
  margin-top: 6px;
  margin-bottom: 4px; /* Margen inferior para el párrafo */
  text-align: justify;
}
